USE [gov2014]
GO
/****** Object:  Table [dbo].[GovPUnit]    Script Date: 06/17/2014 09:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GovPUnit](
	[FUID] [int] NOT NULL,
	[Own] [int] NULL,
	[funame] [varchar](100) NULL,
 CONSTRAINT [PK__GovPUnit__05A3D694] PRIMARY KEY CLUSTERED 
(
	[FUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
