<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 配置SQLServer连接属性 -->
		<property name="dialect">cn.voicet.dot.dialect.MySQLServerDialect</property>
		<!-- 在控制台显示SQL语句 -->
		<property name="show_sql">false</property>
		<!-- 根据需要自动生成, 更新数据表 -->
		<property name="hbm2ddl.auto">update</property>
	</session-factory>
</hibernate-configuration>